<footer class="primary-footer">
<!--   <div class="subscribe-newsletter-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center common-heading"> Subscribe to Our Newsletter </div>
          <p class="text-center">New products, new ideas and a whole bunch of madness delivered to your inbox as it happens!</p>
          <form>
            <div class="row">
              <div class="col-sm-5 form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-sm-5 form-group">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
              </div>
              <div class="col-sm-2 form-group">
                <button class="btn btn-block btn-subscribe">
                  SUBSCRIBE
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>O nas</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">O firmie</a></li>
              <li><a href="javascript:void(0);">Kontakt i dane firmy</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Pomoc</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Metody Płatności</a></li>
              <li><a href="javascript:void(0);">Czas i koszty dostawy</a></li>
              <li><a href="javascript:void(0);">Zwroty i reklamacje</a></li>
              <li><a href="javascript:void(0);">Regulamin</a></li>
              <li><a href="javascript:void(0);">Polityka Prywatności</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Moje konto</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Zamówienia</a></li>
              <li><a href="javascript:void(0);">Moje dane</a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <h3 class="decorated-heading">
              <span>Kontakt</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">info@molimoli.pl</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



</footer>
